.about {
    background: #0D1321;
    color: #F0EBD8;
    height: 100vh;
    width: 100vw;
    font-family: "Trajan Pro";
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2rem;
    position: relative;
}

.about-title {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%);
    font-size: 70px;
    color: rgb(240, 235, 216, 0.1);
    z-index: 0;
    pointer-events: none;
    white-space: nowrap;
}

.about-box {
    background: rgb(62, 92, 118, 0.8);
    border-radius: 45px;
    z-index: 1;
}

.about-box-title {
    text-align: center;
    margin: 1.25rem;
    font-size: 1.75rem;
}

.about-grid-subbox {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    width: 100%;
}

.about-subbox-card-1,
.about-subbox-card-2,
.about-subbox-card-3 {
    border: #F0EBD8 solid;
    border-radius: 40px;
    margin: 1.5rem;
}

.about-subbox-card-1,
.about-subbox-card-2, 
.about-subbox-card-3 {
    
}

.about-subbox-card-1, 
.about-subbox-card-3 {
    display: grid;
    grid-template-columns: 0.75fr 3fr;
}

.about-subbox-card-2 {
    display: grid;
    grid-template-columns: 3fr 0.75fr;
}

.about-card-1-title,
.about-card-3-title {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.about-card-2-title {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.about-card-1-text,
.about-card-3-text {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.about-card-2-text {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.about-subbox-card-1 h4,
.about-subbox-card-2 h4,
.about-subbox-card-3 h4 {
    font-weight: 1000; 
}